<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haoqu.meiquan"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.haoqu.meiquan.TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.haoqu.meiquan.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haoqu.meiquan.activity.ForgetPassWordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.GoosDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- 微信分享的 -->
        <activity
            android:name="com.haoqu.meiquan.wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.haoqu.meiquan.activity.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.MyResultsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.MyBankActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.BindBankActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.TixianRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.ShangPinListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haoqu.meiquan.activity.FriendSharePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name="com.haoqu.meiquan.activity.ChangeInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.haoqu.meiquan.activity.ShangjiaListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
    </application>



</manifest>